[submodule "scripts/nix-emacs-with-use-package-pkgs"]
	path = scripts/nix-emacs-with-use-package-pkgs
	url = git@github.com:talyz/nix-emacs-with-use-package-pkgs
[submodule "nix-update-el"]
	path = submodule-elisp/nix-update-el
	url = https://github.com/jwiegley/nix-update-el/
[submodule "submodule-elisp/bitbake-el"]
	path = submodule-elisp/bitbake-el
	url = git@github.com:xantoz/bitbake-el
[submodule "submodule-elisp/unity.el"]
	path = submodule-elisp/unity-el
	url = https://github.com/elizagamedev/unity.el
